.list-item {
    list-style-type: none;

    a {
        text-decoration: none;
    }

    &.list-item-comment {

        .comment-container {
            padding: 20px;

            .comment-container-name {
                padding: 10px;
            }

            .comment-container-body {
                padding: 10px;
            }

            .comment-container-email {
                text-align: right;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}